In [14]:
import pandas as pd
import numpy as np

In [15]:
previous_olympics_df = pd.read_csv ("../Data_Sets/Summer Olympics Medals 1976-2008/Summer-Olympic-medals-1976-to-2008.csv",  encoding='latin-1')
previous_olympics_df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [16]:
#dataframe
#Athlete,year and event

athlete_event = previous_olympics_df[['Sport','Discipline']]
athlete_event

           Sport       Discipline
0       Aquatics           Diving
1       Aquatics           Diving
2       Aquatics           Diving
3       Aquatics           Diving
4       Aquatics           Diving
...          ...              ...
15428  Wrestling  Wrestling Gre-R
15429  Wrestling  Wrestling Gre-R
15430  Wrestling  Wrestling Gre-R
15431  Wrestling  Wrestling Gre-R
15432  Wrestling  Wrestling Gre-R

[15433 rows x 2 columns]

In [17]:
athlete_event.drop_duplicates(inplace=True)
athlete_event

C:\Users\Leha\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                   Sport       Discipline
0               Aquatics           Diving
12              Aquatics         Swimming
126             Aquatics       Water polo
159              Archery          Archery
165            Athletics        Athletics
312           Basketball       Basketball
384               Boxing           Boxing
428        Canoe / Kayak  Canoe / Kayak F
485              Cycling     Cycling Road
500              Cycling    Cycling Track
521           Equestrian         Dressage
533           Equestrian         Eventing
548           Equestrian          Jumping
563              Fencing          Fencing
634             Football         Football
685           Gymnastics      Artistic G.
759             Handball         Handball
770                  NaN              NaN
960               Hockey           Hockey
1008                Judo             Judo
1032   Modern Pentathlon  Modern Pentath.
1044              Rowing           Rowing
1206             Sailing          Sailing
1242            Shooting         Shooting
1263          Volleyball       Volleyball
1335       Weightlifting    Weightlifting
1362           Wrestling  Wrestling Free.
1392           Wrestling  Wrestling Gre-R
2953            Aquatics  Synchronized S.
3644          Gymnastics      Rhythmic G.
5610        Table Tennis     Table Tennis
5628              Tennis           Tennis
6244           Badminton        Badminton
6268            Baseball         Baseball
6517       Canoe / Kayak  Canoe / Kayak S
8319             Cycling    Mountain Bike
9123            Softball         Softball
9204          Volleyball    Beach volley.
10602         Gymnastics       Trampoline
11168          Taekwondo        Taekwondo
11210          Triathlon        Triathlon
14235            Cycling              BMX

In [18]:
athlete_event.dropna(inplace=True)

C:\Users\Leha\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
athlete_event2 = pd.DataFrame({"Discipline":["Artistic Gymnastics","Karate","Wrestling","Rhythmic Gymnastics",
                                            "Baseball/Softball", "Artistic Swimming","Beach Volleyball", "Trampoline Gymnastics", "Marathon Swimming", "Canoe Slalom", "Surfing",
                                            "Canoe Sprint", "Cycling BMX Racing", "Rugby Sevens", "Equestrian", "Golf", "Skateboarding", "Modern Pentathlon", "Cycling Mountain Bike", "3x3 Basketball",
                                            "Cycling BMX Freestyle", "Sport Climbing", "Gymnastics","Cross-country skiing","Biathlon","Canoeing","Cycling","Synchronized swimming","Short track speed skating","Speed skating","Alpine skiing","Bobsleigh","Ice hockey","Ski jumping","Luge"],
                              "Sport": ["Gymnastics","Karate","Wrestling","Gymnastics",
                                            "Baseballl", "Swimming","Volleyball", "Gymnastics", "Swimming", "Canoe / Kayak", "Surfing",
                                            "Canoe / Kayak", "Cycling", "Rugby", "Equestrian", "Golf", "Skateboarding", "Modern Pentathlon", "Cycling", "Basketball",
                                            "Cycling", "Sport Climbing", "Gymnastics","Skiing","Skiing","Canoe / Kayak","Cycling","Swimming","Speed Skating","Speed Skating","Skiing","Bobsleigh","Ice Hockey","Ski Jumping","Luge"]})

In [20]:
athlete_event = athlete_event.append(athlete_event2, ignore_index = True)

athlete_event.index = athlete_event.index + 1

In [21]:
athlete_event.to_csv("..\Output\events.csv")